{% extends "base.html" %}
{% load static %}
{% block title %}Friends{% endblock title %}

{% block content %}
<div class="p-5">
    <div class="grid grid-cols-2">
        <h1 class="text-3xl font-semibold">Friends:</h1>

        <form method="GET" action="{% url 'friends.index' %}" class="grid grid-cols-3 sm:grid-cols-10 gap-2">
            <input type="text" name="q" placeholder="Search for a friend..." class="input col-span-2 sm:col-span-3 sm:col-start-7" value="{{ request.GET.q }}">
            <button type="submit" class="btn btn-accent rounded-lg sm:col-start-10">Search</button>
        </form>
    </div>

    {% if request.GET.q and friends.count != 0 %}
    <div class="text-center mt-4">
      <p class="text-lg font-normal">Showing results for "{{ request.GET.q }}"</p>
    </div>
    {% endif %}

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-4">
        {% for friend in friends %} 
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <div class="p-4 text-center">
                    <h3 class="text-lg font-semibold text-gray-800">{{ friend.username }}</h3>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    {% if friends.count == 0 %}
    <div class="flex justify-center items-center min-h-[calc(100vh-14rem)]">
      <div class="grid place-content-center">
        <h1 class="text-3xl font-semibold text-center">No friends found...</h1>
        <img src="{% static 'images/empty.png' %}" alt="empty" class="mt-5 w-1/4 mx-auto">
      </div>
    </div>
  {% endif %}

    <div class

</div>

{% endblock content%}