{% extends "base.html" %}
{% load static %}
{% block title %}Friends{% endblock title %}

{% block content %}
<div class="p-5">
  <div class="grid grid-cols-2">
    <h1 class="text-3xl font-semibold block sm:hidden">Friends List:</h1>
    <h1 class="text-3xl font-semibold hidden sm:block">Here are all of {{ user.username }}'s Friends:</h1>
      <div class="p-3">
          <div class="container">
              <div class="row mt-3">
                  <div class="col mx-auto text-center mb-3">
                      <h2>List of Friends</h2>
                      <hr />
                      <p class="card-text">
                          <form method="GET" class="d-flex justify-content-center">
                      <div class="row">
                          <div class="col-auto">
                              <div class="imput-group col-auto">
                                  <div class="input-group-text">
                                      Search
                                  </div>
                                  <input type="text" name="q" placeholder="Search for a friend..." class="input col-span-2 sm:col-start-7 sm:col-span-3 order-1 sm:order-2" value="{{ request.GET.q }}">
                              </div>
                          </div>
                          <div class="col-auto">
                              <button class="btn bg-dark text-white" type="submit">Search</button>
                          </div>
                        </div>
                        </form>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content%}