{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}"
    />
  </head>

  <body>
    <div class="navbar bg-accent shadow-sm">
      <div class="flex-1 px-1">
		    <ul class="flex items-center space-x-2">
        	<li class="flex items-center"><a href="{% url 'home.index' %}">
					  <img src="{% static 'images/pokeball.png' %}" alt="logo" class="size-8 align-middle"/>
				  </a></li>
          	<li class="flex items-center"><a href="{% url 'home.index' %}"><span class="text-xl font-semibold">PokeTrade</span></a></li>
		    </ul>
    </div>
    <div class="flex-none">
			<ul class="menu menu-horizontal px-1">
			{% if user.is_authenticated %}
			<li><a href="{% url 'friends.index' %}">Friends</a></li>
			<li><a href="{% url 'collection.index' %}">Collection</a></li>
			<li>
				<details>
				<summary>{{ user.username }}</summary>
				<ul class="bg-accent rounded-t-none p-2">
					<li><a href="{% url 'profile' %}">Profile</a></li>
					<li><a class="hover:bg-red-500" href="{% url 'logout' %}">Logout</a>					</li>
				</ul>
				</details>
			</li>
			{% else %}
			<li><a href="{% url 'register' %}">Register</a></li>
			<li><a href="{% url 'login' %}">Login</a></li>
			{% endif %}
			</ul>
      	</div>
    </div>

    <div class="content">
      {% if messages %}
      <div class="toast toast-end">
        {% for message in messages %}
        <div class="alert alert-success bg-accent">
          <span>{{ message }}</span>
        </div>
        {% endfor %}
      </div>
      {% endif %} {% block content %} {% endblock content %}
    </div>
  </body>
</html>
