{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block content %}
<div class="p-5 content-center min-h-[calc(100vh-5rem)]">
    <div class="grid grid-cols-3 gap-4">

        <h1 class="text-3xl font-semibold text-center col-start-2">Login</h1> 

        <div class="col-start-2">
            <form method="post" class="">
                {% csrf_token %}
                
                {% if form.non_field_errors %}
                    <div class="text-red-500 mb-2 text-center break-words max-w-md mx-auto">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <fieldset class="fieldset max-w-md mx-auto">
                    <legend for="id_username" class="fieldset-legend">Username</legend>
                    <input type="text" name="username" id="id_username" 
                        class="input w-full"
                        placeholder="Enter your username" 
                        value="{{ form.username.value|default:'' }}">
                    {% if form.username.errors %}
                        <div class="text-red-500 text-sm mt-1">
                            {{ form.username.errors.0 }}
                        </div>
                    {% endif %}
                </fieldset>

                <fieldset class="fieldset max-w-md mx-auto">
                    <legend for="id_password" class="fieldset-legend">Password</legend>
                    <input type="password" name="password" id="id_password" 
                        class="input w-full" 
                        placeholder="Enter your password">
                    {% if form.password.errors %}
                        <div class="text-red-500 text-sm mt-1">
                            {{ form.password.errors.0 }}
                        </div>
                    {% endif %}
                </fieldset>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-accent rounded-full">Login</button>
                </div>

            </form>
        </div>
        
        <p class="text-center col-start-2">Don't have an account? 
        <a href="{% url 'register' %}" class="link link-primary">Register here.</a></p>
        <p class="text-center col-start-2 -mt-3"><a href="{% url 'password_reset' %}" class="link link-primary">Forgot your password?</a></p>
    </div>
</div>

{% endblock %}