{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Password Reset Email Sent</h2>
                    <hr />
                    <p>You should be receiving an email from us detailing how to reset your password. If you don’t receive an email, please check your spam folder.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-3">Return to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

</body>
</html>