{% extends "base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock title %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Password Reset Complete</h2>
                    <hr />
                    <p>Your password has been successfully reset. You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

</body>
</html>
