{% extends "base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="p-5 content-center min-h-[calc(100vh-5rem)]">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">

        <h1 class="text-3xl font-semibold text-center sm:col-start-2">Create a New Password</h1>

        <div class="sm:col-start-2">
            <form method="post" id="passwordResetConfirmForm">
                {% csrf_token %}

                <!-- Non-Field Errors -->
                {% if form.non_field_errors %}
                <div class="text-red-500 mb-4 text-center break-words max-w-md mx-auto">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                <!-- New Password Field -->
                <fieldset class="fieldset max-w-md mx-auto">
                    <legend for="id_new_password1" class="fieldset-legend">New Password</legend>
                    <input
                        type="password"
                        name="new_password1"
                        id="id_new_password1"
                        class="input w-full max-w-lg"
                        placeholder="Enter your new password"
                    />
                    {% if form.new_password1.errors %}
                    <div class="text-red-500 text-sm mt-1">
                        {{ form.new_password1.errors.0 }}
                    </div>
                    {% endif %}
                </fieldset>

                <!-- Confirm New Password Field -->
                <fieldset class="fieldset max-w-md mx-auto">
                    <legend for="id_new_password2" class="fieldset-legend">Confirm New Password</legend>
                    <input
                        type="password"
                        name="new_password2"
                        id="id_new_password2"
                        class="input w-full max-w-lg"
                        placeholder="Confirm your new password"
                    />
                    {% if form.new_password2.errors %}
                    <div class="text-red-500 text-sm mt-1">
                        {{ form.new_password2.errors.0 }}
                    </div>
                    {% endif %}
                </fieldset>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-accent rounded-full">
                        Change Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}