{#Version 1#}
{#<!-- send_message.html -->#}
{#<h1>Send Friend Request</h1>#}
{#<form method="post">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#  <button type="submit">Send</button>#}
{#</form>#}

{#Version 2#}
<!-- To send a request -->
<a href="{% url 'send_friend_request' user.id %}">Send Friend Request</a>

<!-- To accept a request -->
{% for request in request.user.received_requests.all %}
  {% if not request.is_accepted %}
    <p>{{ request.from_user }} wants to be your friend</p>
    <a href="{% url 'accept_friend_request' request.id %}">Accept</a>
  {% endif %}
{% endfor %}
