{% extends 'base.html'%}

{% block title%}{{ listing.pokemon }}{%endblock%}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <p class="text-lg font-semibold">Pokemon: {{ listing.pokemon.name }} </p>
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <img src="{{ listing.pokemon.image }}" alt="{{ listing.pokemon.name }}" class="w-48 h-48 object-contain mb-4 rounded-xl border border-gray-300">
        <h1 class="mb-6 text-3xl">{{ listing.pokemon.name }}</h1>
        <p class="text-gray-500"><strong>Price: ${{ listing.price }}</strong></p>
        <p class="text-gray-500"><strong>Date Posted: {{ listing.date_posted }}</strong></p>
        <p class="text-gray-500"><strong>Status: {{ listing.status }}</strong></p>
        <p class="text-gray-500"><strong>Seller:</strong> {{ listing.seller.user.username }}</p>

        {% if listing.seller.user == request.user %}
            <h2 class="mt-4 text-xl">Edit Price</h2>
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="price" class="block text-sm font-semibold">New Price</label>
                    <input type="text" name="price" value="{{ listing.price }}" class="w-full px-4 py-2 border rounded-lg" placeholder="Enter new price" required>
                </div>
                <button type="submit" name="edit_price" class="py-2 px-4 text-lg bg-orange-500 hover:bg-orange-700 rounded-xl text-black">Update Price</button>
            </form>
            <form method="POST" action="{% url 'delete_listing' listing.id %}">
                {% csrf_token %}
                <button type="submit" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl hover:bg-red-700">
                    Delete Listing
                </button>
            </form>
        {% endif %}

        {% if listing.seller.user != request.user %}
            <a href="{% url 'buy' listing.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-orange-500 text-black rounded-xl hover:bg-orange-700">Buy</a>
        {% endif %}
    </div>
</div>
{% endblock %}
