{% extends "base.html" %}
{% load static %}
{% block title %}Collection{% endblock title %}

{% block content %}
<div class="p-5">

  <div class="grid grid-cols-2">

    <h1 class="text-3xl font-semibold">Collection:</h1>

    <form method="GET" action="{% url 'collection.index' %}" class="grid grid-cols-2 md:grid-cols-4 sm:grid-cols-10 gap-2">
      
      <select name="search_field" class="select sm:col-start-5 sm:col-span-2 order-2 sm:order-1">
        <option disabled {% if not request.GET.search_field %}selected{% endif %}>Search By</option>
        <option value="pokemon" {% if request.GET.search_field == 'pokemon' %}selected{% endif %}>Pokemon</option>
        <option value="name" {% if request.GET.search_field == 'name' %}selected{% endif %}>Name</option>
        <option value="data__types" {% if request.GET.search_field == 'data__types' %}selected{% endif %}>Types</option>
      </select>


      <select name="sort" class="select sm:col-start-5 sm:col-span-2 order-2 sm:order-1">
        <option disabled {% if not request.GET.sort %}selected{% endif %}>Sort By</option>
        <option value="-date_collected" {% if request.GET.sort == '-date_collected' %}selected{% endif %}>Recent</option>
        <option value="name" {% if request.GET.sort == 'name' %}selected{% endif %}>Name</option>
        <option value="pokemon" {% if request.GET.sort == 'pokemon' %}selected{% endif %}>Species</option>
        <option value="data__id" {% if request.GET.sort == 'data__id' %}selected{% endif %}>Pokedex ID</option>
      </select>

      <input type="text" name="q" placeholder="Search your Pokemon..." class="input col-span-2 sm:col-start-7 sm:col-span-3 order-1 sm:order-2" value="{{ request.GET.q }}">

      <button type="submit" class="btn btn-accent rounded-lg sm:col-start-10 order-3 sm:order-3">Search</button>

    </form>

  </div>

  {% if request.GET.q and collection.count != 0 %}
    <div class="text-center mt-4">
      <p class="text-lg font-normal">Showing results for "{{ request.GET.q }}"</p>
    </div>
  {% endif %}

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-4 auto-rows-fr">
  {% for pokemon in collection %}
    <div class="card bg-white border border-gray-200 w-full shadow-md hover:shadow-lg transition-shadow duration-300">
      <figure>
        <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}" class="w-full object-cover">
      </figure>
      <div class="card-body flex flex-col justify-between">
        <div>
          <p class="text-xl font-semibold text-gray-800 truncate">{{ pokemon.name }}</p>
          <p class="text-lg text-gray-600 truncate">{{ pokemon.data.name }}</p>
        </div>
        <div class="flex justify-end">
          <a href="{% url 'collection.detail' id=pokemon.id %}" class="btn btn-outline btn-sm">View Details</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

  {% if collection.count == 0 %}
    <div class="flex justify-center items-center min-h-[calc(100vh-14rem)]">
      <div class="grid place-content-center">
        <h1 class="text-3xl font-semibold text-center">No Pokemon found...</h1>
        <img src="{% static 'images/empty.png' %}" alt="empty" class="mt-5 w-1/4 mx-auto">
      </div>
    </div>
  {% endif %}



</div>

<a href="{% url 'collection.create' %}" class="fixed bottom-8 right-8 btn btn-accent btn-circle text-2xl shadow-lg-50">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
  </svg>
</a>

{% endblock content%}